venv/
*.pth
*.pt
*.ckpt
*.DS_Store
*.aux
*.bbl
*.out
*.log
*.blg
*.pdf
*.gz
*.npy
*.pyc
*.sh
PnP_restoration/generate_fig.py
PnP_restoration/results/
GS_denoising/logs/
*.zip
**/__pycache__
wandb/
PnP_restoration/experiments_eliot.sh
Result_ERED/
to_save/

compute_statistics.py
parse_pnp_results.py
test.ipynb
*.out
*.err
figures/
datasets/
